/test/currency_rates.py
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pyCurrencyConventor-Analyzer.iml
/.idea/vcs.xml
/data/
/test/function_demo_v1.py
/test/GUI_test.py
/money_icon.png
/test/qt.py
/report/
/test/
